.list-content {
    flex: 1;
    display: flex;      
}

.list-content>* {
    flex: 1 1 1px;
}


.list-items {    
    display: inline-block;                                
    flex-grow: 1;    
    border: 5px solid white;
}