# MEMCACHED SERVER
CACHE_HOST=""
CACHE_PORT=""
CACHE_KEY_PREFIX=""
PG_NAME=""
PG_USER=""
PG_PASSWORD=""
PG_HOST=""
PG_PORT=""
TELEGRAM_BOT_API_URL=""
TELEGRAM_BOT_TOKEN=""
# SMTP
MAIL_USER=""
MAIL_PASS=""
MAIL_HOST=""
MAIL_PORT=""
# DJANGO SECRET KEY
SECRET_KEY=""
# GOOGLE AND GITHUB OAUTH KEYS
SOCIAL_AUTH_GITHUB_KEY=""
SOCIAL_AUTH_GITHUB_SECRET=""
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=""
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=""