.project-head {
    display: flex;    
    height: '30px';    
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
}

.one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;    
    text-transform: capitalize;    
}