.content {           
    display: flex;
    flex: 1;        
    margin: 0 8px;
    justify-content: center;
    align-items: center;            
}

.spin {
    flex: 1;               
    align-items: center;
}

.page { 
    background-color: white;
    height: 80vh;
    overflow-y: auto;
    width: auto;
    padding: 8px;    
}